@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .b {
    @apply border border-white;
  }
  .o {
    @apply border border-4 border-orange-300;
  }
  .button {
    @apply bg-[#223] hover:bg-[#334];
  }
  .spacer{
    @apply w-[5px] h-[20px] bg-[#112]/50;
  }
}

 html {
  scroll-behavior: smooth;
}
body{
  display:flex;
  flex-direction:column;
	background: #223;
  color: white;
}

#topNavarInner,#footerInner{
  color:  white;
  font-weight: bold;
}