@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

@layer base {
  .b {
    @apply border border-white;
  }
  .o {
    @apply border border-4 border-orange-300;
  }
  .BLUE {
    @apply border border-[5px] border-blue-400;
  }
  .button {
    @apply bg-[#223] hover:bg-[#334];
  }
  .spacer{
    @apply w-[5px] h-[20px] bg-[#112]/50;
  }
  /*SECOND OPINION LANDING PAGE STYLES*/
  .so-font-main{
    font-family: 'Roboto Slab', serif;
  }
  .so-border {
    @apply border-2 border-white;
  }
}

 html {
  scroll-behavior: smooth;
}
body{
  display:flex;
  flex-direction:column;
	background: #223;
  color: white;
}

#topNavarInner,#footerInner{
  color:  white;
  font-weight: bold;
}
section,table{
  border: none;
  /*border: 4px white solid;*/
}