@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@400;500;600;700&family=Varela+Round&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;700&display=swap');*/

@layer base {
  .b {
    @apply border border-white;
  }
  .o {
    @apply border border-4 border-orange-300;
  }
  .BLUE {
    @apply border border-[5px] border-blue-400;
  }
  .button {
    @apply bg-midtone hover:bg-light ;
  }
  .spacer{
    @apply w-[5px] h-[20px] bg-[#112]/50;
  }
  .headingFont{
    @apply font-anton;
  }
  .navFont{
    /*@apply font-cutive font-bold;*/
    @apply font-varela font-bold;
  }
  .itemFont{
    @apply font-varela text-base font-bold;    
  }
  
  .contentFont{
    @apply font-quicksand font-semibold;
  }

  /*SECOND OPINION LANDING PAGE STYLES*/
  .so-font-main{
    font-family: 'Roboto Slab', serif;
  }
  .so-border {
    @apply border-2 border-white;
  }

  /*DANGEROUSLY SMOOTHIE LANDING PAGE STYLES*/
  .ds-font-main{
    @apply font-bangers;
  }
  .ds-font-minor{
    @apply font-raleway;    
  }
  .ds-font-accent{
    @apply font-fatface;
  }
  .ds-border {
    @apply border-2 border-dsAccent;
  }
}

*{
  box-sizing: border-box;
  /*outline: solid #f00 1px !important;*/
}
 html {
  scroll-behavior: smooth;
}
body{
  display:flex;
  flex-direction:column;
  align-items:center;
	/*background: #aaa;*/
  
  color: white;
}

#topNavarInner,#footerInner{
  color:  white;
  font-weight: bold;
}
section,table{
  border: none;
  /*border: 4px white solid;*/
}

/* BG HERO */
.bgHeroContainer{
  position: absolute;
  overflow: hidden;
}
#waves{
  transform-origin: top left;
}
#stencil{
  display: inline;
  opacity:1;
}
#background-wave{
  display: inline;
  transform-origin: center left;
  /*stroke: white;
  stroke-width:4px;*/
}
#middle-wave{
  display:inline;
  /*stroke: white;
  stroke-width:2px;*/
}
#front-wave{
  display:inline;
  transform-origin: center left;
  stroke: white;
  stroke-width: 4px;
}

/*Welcome Message*/
.welcome-letter{
  @apply origin-center;
}
