@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@400;500;600;700&family=Varela+Round&display=swap');

@layer base {
  .b {
    @apply border border-white;
  }
  .o {
    @apply border border-4 border-orange-300;
  }
  .BLUE {
    @apply border border-[5px] border-blue-400;
  }
  .button {
    @apply bg-midtone hover:bg-light ;
  }
  .spacer{
    @apply w-[5px] h-[20px] bg-[#112]/50;
  }
  .headingFont{
    @apply font-anton;
  }
  .navFont{
    @apply font-cutive font-bold;
  }
  .itemFont{
    @apply font-varela text-base font-bold;    
  }
  
  .contentFont{
    @apply font-quicksand font-semibold;
  }

  /*SECOND OPINION LANDING PAGE STYLES*/
  .so-font-main{
    font-family: 'Roboto Slab', serif;
  }
  .so-border {
    @apply border-2 border-white;
  }
}

*{
  box-sizing: border-box;
}
 html {
  scroll-behavior: smooth;
}
body{
  display:flex;
  flex-direction:column;
	/*background: #aaa;*/
  background: black;
  color: white;
}

#topNavarInner,#footerInner{
  color:  white;
  font-weight: bold;
}
section,table{
  border: none;
  /*border: 4px white solid;*/
}

