@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .b {
    @apply border border-white;
  }
}

body{
	background: #223;
  color: white;
}

#topNavarInner,#footerInner{
  color:  white;
  font-weight: bold;
}